@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

:root {
    --main-bg-color: #D7416C;
  }

*{
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans JP', sans-serif;
}
header{
    background: var(--main-bg-color);
    font-family: 'Lato', sans-serif;
    position :sticky;
}

nav{
    display: flex;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    width: 88px;
    padding: 0 25px;
}

nav ul{
    height: 58px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav ul li{
    list-style: none;
    padding: 0 23px;
}

nav ul li a{
    color: white;
    text-decoration: none;
}

nav ul li a:hover{
    font-weight: bolder;
    color: white;
}

.search{
    display: flex;
    align-items: center;
}

.search input{
    width: 30vw;
    height: 27px;
    border-radius: 5px;
    margin: 0 16px 0 56px;
    padding:0 12px;
}

.search button{
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}

.auth{
    display: flex;
    align-items: center;
    margin: 0 65px 0 65px;
    padding:0 6px;

}
button:hover {
  opacity: 0.8;
}

input{
  width: 30%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: block;
  border: none;
  background: #ffecf2;
}

.auth button{
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    margin: 0 35px 0 35px;
    padding:0 12px;

}
.slider{
    width: 100vw;
    margin: 12px auto;
    overflow: hidden;
}

.my-c-card{
    max-width: 91vw;
    margin: 37px auto;
    font-family: 'Ubuntu', sans-serif;
}

.my-c-cards{
    display: flex;
    overflow: visible; //hidden;
}

.my-c-card-item{
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 15px;
}

.my-c-card h2{
    font-family: 'Lato', sans-serif;
}

.container{
    min-height: calc(100vh - 58px - 12vh);
}

footer{
    height: 12vh;
    background-color: var(--main-bg-color);
    color: white;
    font-family: 'Lato', sans-serif;
}
/*  */
nav .navbar ul li{
    color: #ffffff;
}
footer .services-social{
    list-style-type: none;
}
footer .policies-copyright{
    background-color: #D7416C;
    color: #ffffff;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}
.social .fa{
    color: #000000;
}
.fa:hover {
    opacity: 0.7;
}
.hrt-love{
    color: #D7416C;
}
.carousel-inner {
    margin: 1vh;
    position: relative;
    width: 80vw;
    overflow: visible;
}